name: Linux CUDA tests

on:
  push:
    branches:
      - main
    paths:
      - "optimum/quanto/**"
      - "test/**"
      - "pyproject.toml"
  pull_request:
    types: [assigned, opened, synchronize, reopened]
    paths:
      - "optimum/quanto/**"
      - "test/**"
      - "pyproject.toml"

jobs:
  conventional-commits:
    uses: ./.github/workflows/conventional-commits.yml
  python-quality:
    uses: ./.github/workflows/python-quality.yml
  test-ubuntu-cuda:
    needs: [conventional-commits, python-quality]
    runs-on: [self-hosted, single-gpu , nvidia-gpu, a10, ci]
    strategy:
      fail-fast: false
      matrix:
        cuda-version: ["11.8", "12.1"]
    container:
      image: pytorch/pytorch:2.2.1-cuda${{ matrix.cuda-version }}-cudnn8-devel

    steps:
      - uses: actions/checkout@v2
      - name: Check CUDA installation
        run: |
          nvcc -V

      - name: Build and install quanto
        run: |
          pip install --upgrade pip
          pip install .[dev]

      - name: Run tests
        run: |
          python -m pytest test
